<% include ./header %>
    <h1><%= title %></h1>
    <ul class="list-group">
        <% articles.map((article, i) => { %>
            <li class="list-group-item">
                <a href="/article/<%=article._id%>"><%= article.title %></a>
            </li>
        <% }); %>
    </ul>
<% include ./footer %>
